* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #39396a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 600px;
    padding: 20px;
    color: white;
    position: relative;
}

.btn {
    background: #dde486;
    color: rgb(16, 14, 14);
    font-weight: 600;
    margin-top: 20px;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 12px;
}
